@charset "UTF-8";
/* CSS Document */

/*-----------------------------------------------------
TopPage
-----------------------------------------------------*/

#topMain {
	margin-bottom:25px;
}

/*topBanner*/
#topBanner {
	width:300px;
	float:right;
}
#topBanner ul li {
	vertical-align:bottom;
	margin-bottom:20px;
}
#topBanner ul li img {
	vertical-align:bottom;
}


/*topContent*/
#topContent {
	width:630px;
	float:left;
	margin-bottom:25px;
}

/*topMessage*/
#topMessage {
	margin-bottom:25px;
}

/*topNews*/
#topNews {
	margin-bottom:25px;
}

#topNews a ,#topNews a:link {
	color:#000;;
}
#topNews a:hover , #topNews a:active {
	color:#666;
	text-decoration:underline;
}

#topNews #topNewsHead {
	border-bottom:1px solid #000;
	overflow:hidden;
}
#topNews h2 {
	font-family:Times, serif;
	font-size:153.8%;
	font-weight:normal;
	float:left;
	padding-left:5px;
}
#topNews p.viewAll {
	float:right;
	padding-right:5px;
	font-family:"Times New Roman", Times, serif;
	font-size:107.7%;
}
#topNews p.viewAll a {
	background:url(../images/arrow_bl.png) left no-repeat;
	padding-left:7px;
}
#topNews ul li {
	border-bottom:1px dotted #000;
	padding:10px 5px;
}
#topNews ul li span.date {
	margin-right:30px;
	font-family:Times, serif;
	font-size:107.8%;
}